# Import modules

In [3]:
import pandas as pd

# Before you begin...

Make a `dataset` directory at the root of this project and place your json files in there.

# Convert datasets to CSV

I tried countless methods to read the data into a dataframe directly from `JSON` however I was not successful. the [yelp/dataset-examples](https://github.com/Yelp/dataset-examples/blob/master/json_to_csv_converter.py) has a `json_to_csv_converter` which can be used to convert the data to `csv`.

## Log of attempt to load JSON data

```
** <2018-02-04 Sun>
- Note taken on [2018-02-04 Sun 18:16] \\
  [[https://www.dataquest.io/blog/python-json-tutorial/][blogpost]] on some techniques to deal with large datasets
- Note taken on [2018-02-04 Sun 18:16] \\
  trying to load the =review.json= file but experiencing weird problems.
  Found a [[https://github.com/pandas-dev/pandas/issues/18152][issue]] on the pandas repository which documents the same error
  that I am seeing. The conclusion seems to be that the json file was
  malformed. I need to verify if my dataset has any issues.
** <2018-02-05 Mon>
- Note taken on [2018-02-06 Tue 12:18] \\
  the converter works when executed with python2!
- Note taken on [2018-02-05 Mon 22:43] \\
  found a =json= to =csv= converter at the [[https://github.com/Yelp/dataset-examples/blob/master/json_to_csv_converter.py][yelp/dataset-examples]] repo. The
  code is for python 2 so need to make a few adjustments before it works.
```

**Note:** the following cell will take time to execute, might want to go grab some ☕️. Alternatively, I would recommend manually converting only the files you need in the shell.

In [6]:
%%bash
for file in dataset/*.json;
do
    echo "converting $file to csv..."
    python2 lib/json_to_csv_converter.py $file;
done

# Exploration of reviews

## Hypothesis

H_o_: Reviews with higher `stars` should have a higher `useful` vote.

H_a_: Reviews with higher `stars` do not have a higher `useful` vote.

In [2]:
reviews = pd.read_csv('dataset/review.csv')

In [77]:
reviews.sort_values(by='useful')

,funny,user_id,review_id,text,business_id,stars,date,useful,cool
4203968,0,S7oukZE-NH_33uuWuR47LQ,hx5oI9l2xXwZMqyoiMXbeg,Cornish Pasty saved our Mothers Day! After hav...,ohEnmKpF7i2_ujme1p_vUQ,5,2017-05-15,-1,-1
0,0,bv2nCi5Qv5vroFiqKGopiw,v0i_UHJMo_hPBq9bxWvW4w,"Love the staff, love the meat, love the place....",0W4lkclzZThpx3V65bVgig,5,2016-05-28,0,0
2953500,0,Jm5h-bDATqRMWs3VahkFPg,SkyZGW3MV5-bK6supogQlQ,Love their Baja fish taco. I love that you can...,iGEvDk6hsizigmXhDKs2Vg,5,2015-12-10,0,0
2953501,0,Jm5h-bDATqRMWs3VahkFPg,fnMg8s-eQoTF6bvSJdUafQ,I love the bamboo drink ~~! it was cute the fi...,RtUvSWO_UZ8V3Wpj0n077w,4,2014-04-18,0,0
2953502,0,Jm5h-bDATqRMWs3VahkFPg,OsT8rbUqjH_8x5EZtSfMAQ,REALLY REALLY GOOD~!~\nTHE option (fried porte...,oWTn2IzrprsRkPfULtjZtQ,5,2012-11-20,0,0
2953506,0,Jm5h-bDATqRMWs3VahkFPg,mZCAdvFpgJpGqZ0v9dlVeQ,"For my birthday dinner dates, my hubby often t...",kKC7UTcHZM3zLfT97x3msg,3,2016-06-08,0,1
2953510,0,Jm5h-bDATqRMWs3VahkFPg,ATuUPgTDRs-HclsJiTF7bA,love the atmosphere -- maybe it was the waterf...,O66Zy8Y13VBm72ZDhS4fIg,4,2014-04-18,0,0
2953511,0,Jm5h-bDATqRMWs3VahkFPg,u3IuAf_xnlo6-N_hD0Z_dg,Food: The selection of salad is amazing. I hav...,XC85BrIIDwxN21K462jsuA,4,2017-01-28,0,0
2953512,0,Jm5h-bDATqRMWs3VahkFPg,5eE_Wmf00orrJHQQBwSaVg,Good bowl of hot soup!!! Perfect for winter ti...,iMoFE2g4kDG4FfKLJvk3Jw,4,2012-11-20,0,0
2953514,0,Jm5h-bDATqRMWs3VahkFPg,NSYO0FZWMAdx04mJ2Dxfdw,AMAZING recommendation by my friend to order t...,N93EYZy9R0sdlEvubu94ig,5,2014-04-18,0,0
2953515,0,Jm5h-bDATqRMWs3VahkFPg,9huJu0MEqpX-hGGFsfTp4A,smart to make a reservation? YEs absolutely!\n...,aLcFhMe6DDJ430zelCpd2A,5,2014-04-18,0,0
2953518,0,Jm5h-bDATqRMWs3VahkFPg,6P1c1CEzJb8qD15s9LFv9Q,My fav Matcha soft serve ice cream is finally ...,ui3NMjdiIrILl9JFGcLfbg,5,2017-09-28,0,1
2953519,0,Jm5h-bDATqRMWs3VahkFPg,OZAVqvCWjDg4VM1VEGQrUw,LOVED THIS place to pieces for dining and brun...,pZ1quwXnYozLIZIVABojhw,5,2014-04-18,0,0
2953520,0,Jm5h-bDATqRMWs3VahkFPg,fg6SRZSRnnRu61MaH5f4Eg,Atmosphere: Decent sized restaurant with many ...,8lPxiYChdJdTV24NJvOB3Q,4,2017-09-28,0,0
2953522,0,Jm5h-bDATqRMWs3VahkFPg,dBzU9tng8uxrPaK45Cdv0Q,This place is happening!! It is always packed ...,h_4dPV9M9aYaBliH1Eoeeg,4,2015-05-06,0,0
2953524,0,Jm5h-bDATqRMWs3VahkFPg,aPYOmfIxB4xQq_-24OAmPw,I came here a few times. Initially when it ope...,moZAQFO776KIBe38WjiTJw,2,2016-11-04,0,0
2953525,0,Jm5h-bDATqRMWs3VahkFPg,1vOEti-q5FVbgZzHOZbWNw,I went here on a weeknight with my friend. I t...,Yv4P4qUwd7F-qQ4Y4eD1JQ,4,2015-01-30,0,0
2953526,0,Jm5h-bDATqRMWs3VahkFPg,mYbVM-CgasdepXmUoZDGeg,"Location: in the ""Chatime plaza"" -- best way t...",lh9ZqHBodHoHkRZzshaXlg,2,2017-03-17,0,0
2953528,0,Jm5h-bDATqRMWs3VahkFPg,qQPSYzLDSjl-KW-OfB5mmg,We came here for friend's birthday dinner. it ...,htQgj-ANQpZGpIpkkrEmyQ,5,2015-05-06,0,0
2953529,0,Jm5h-bDATqRMWs3VahkFPg,n5IfEkChz6M8BHHotdlw_A,good thing my friend and I arrived right when ...,MS-hfug4QDXqb_Mws3qlzA,2,2014-04-18,0,0
2953534,0,Jm5h-bDATqRMWs3VahkFPg,_1tfKUpWALtR9oVgvvb8aA,I am writing this review since it is my easy n...,oJYqV8s_Y5y_mNC-38KELA,3,2016-11-12,0,0
2953537,0,Jm5h-bDATqRMWs3VahkFPg,GLD5fjfVNJUzyYDC2UMKDQ,We came here when this place first newly opene...,FBd6q_qzEFixvhV3KdzvJw,5,2017-01-28,0,0
2953538,0,Jm5h-bDATqRMWs3VahkFPg,o3jgXLuBWPZcl2SqX_jWzA,WHy I love this place -- because its close to ...,SjgeuBlgKER9yegpoxT99w,4,2015-05-06,0,0
2953539,0,Jm5h-bDATqRMWs3VahkFPg,FknFlZdU4NijXj4IkZMVQQ,Food: our long awaited Yasu date was fantastic...,q9_gLvTNf11etVxbH7JY0Q,4,2017-01-26,0,0
2953499,0,Jm5h-bDATqRMWs3VahkFPg,VMXsIpLTbGYMFEMfY197-g,This is an amazing experience with a group of ...,TtOBpDBFMhYOsbHwKypKOA,5,2016-12-11,0,0
2953497,0,8q5J1tJPIGyo5sPmnr1b7A,3IZI41ge9Wm0Nvn7LCrYIw,Right Across the street from UNLV. and theres ...,mZI_wVrLOjz4M-QIC9n-jA,3,2015-10-21,0,0
2953496,0,8q5J1tJPIGyo5sPmnr1b7A,LC3EHHHCeqf9TvPs4ZkyNw,Its Always Great! Especially the chippino.. M...,So132GP_uy3XbGs0KNyzyw,4,2016-05-25,0,0
2953494,0,MdqvcNrf05GvpW1QKYCkBg,yXYhPHw2JAq6pe9mQ_gLpQ,Amazing ramen. Good sushi and side dishes also...,mIzlYJ0n8cXIHs1JiPN8kg,5,2017-08-16,0,0
2953451,0,g8E-RUZZGAHwnQoelG1K6w,ajxfv4kzhqb4TXH3UAM2ug,This place is ok it's got a whole cabin feel t...,pzIcN449xQWWyPWsmj10OA,3,2011-08-08,0,0
2953452,0,g8E-RUZZGAHwnQoelG1K6w,tAcx0du-yHbzHJ5SPSqVqA,Went here with the family for my Grandmothers ...,g8OnV26ywJlZpezdBnOWUQ,5,2011-07-18,0,0
...,...,...,...,...,...,...,...,...,...
4121198,145,HN8Q02EBxgS0D7U-okfybA,6JnYasbeupc7gDKPSTE-6Q,I cannot believe I wasted my time coming here....,DN0b4Un8--Uf6SEWLeh0UA,1,2014-03-07,615,61
1921670,300,ImqnI6Q1qNjxjwP4AE6RhQ,n05PiE7jTr3OHbofsYkmag,We went hete for dinner after the movies. As w...,DN0b4Un8--Uf6SEWLeh0UA,1,2014-03-07,627,72
103451,141,2b_0WVBBBVG6IVRX9_pCGQ,-bi49XelAIM8bt7O7ky6bg,"I REALLY wanted to give this place a shot, and...",DN0b4Un8--Uf6SEWLeh0UA,1,2013-11-13,638,68
3515131,106,oWjZJf-EfpBeoPJJNT8VGA,Ep_-EAJ0jE5oL2osFXsVRQ,After seeing the disaster on Kitchen Nightmare...,DN0b4Un8--Uf6SEWLeh0UA,2,2013-07-07,643,73
1823650,63,2gmKNhmQrS5bGo518WWzcw,QovoEUcs34yvCCm5u92Rww,I'd put zero stars if it was an option- the fo...,DN0b4Un8--Uf6SEWLeh0UA,1,2013-08-18,647,49
3973378,134,nJSeDJH8YQpL_wGvgDma2Q,oo7W2IgyMMiraml-sM7ymg,A few years ago after attending a movie across...,DN0b4Un8--Uf6SEWLeh0UA,1,2014-05-18,660,61
2237568,237,63RMC0LxibWFTlHOGgseGw,XpOw_OBKhGeMFuZRmGkvHA,The three times I've tried to come here while ...,DN0b4Un8--Uf6SEWLeh0UA,1,2015-08-11,679,110
1264029,565,E4VC0wUlEsMcq7tW6MlzpA,tSZdQWBQ1gCjdNFcf-D_Aw,Was in Scottsdale visiting a friend and we sto...,DN0b4Un8--Uf6SEWLeh0UA,1,2016-06-26,688,150
4696229,183,hoKZAxMOj9XCs0V4k1nIug,EluaWiwRr0VhTwJe9dxgfw,I really wanted to like this place.\nIt's clea...,DN0b4Un8--Uf6SEWLeh0UA,1,2013-06-19,693,78
3641948,643,Nh8oBY8HFsNkUAUFhRU21w,ih11EVsZZYCK0Ob8_VZN4Q,I've thrown up better pizza. This pizza is jus...,DN0b4Un8--Uf6SEWLeh0UA,1,2011-08-31,775,109
275532,157,Fc_D-qKdOjt5hcvxifKFCQ,aTLCBP_6lrCs2Qo3kXwD9Q,"""scary that people like this can own a biz; sa...",DN0b4Un8--Uf6SEWLeh0UA,1,2013-07-02,777,94
1778186,222,TG3GcRx20tAxXxpqn20Lwg,EYbuFrEnVkVdavuRmJ4gbw,This is the second time I've been here and the...,DN0b4Un8--Uf6SEWLeh0UA,1,2015-03-26,782,77
4598097,221,lX84alrS89AFMWcRtyu4Ow,sHv4D00sHznEzxzbuBWUKg,I'm really dabbling between one and two stars ...,DN0b4Un8--Uf6SEWLeh0UA,2,2013-07-15,786,77
3722890,247,nsM4MOnAfTrK0zcSDflGrw,O1YX1g7Wbf0rmcoudv8ggA,I actually suspect that a lot of people who ha...,DN0b4Un8--Uf6SEWLeh0UA,3,2013-09-15,797,111
3838076,116,jnJf26dkmW6vowC4eh70PQ,gr4TlhPwFUD0pOPu2aUo6Q,"While waiting for my movie time, I decided to ...",DN0b4Un8--Uf6SEWLeh0UA,1,2013-02-20,869,84
3748581,149,9lKCs1d4AE5eOmtIpuviAA,UL-BBq_B3YiNDru02JPTvg,"Four of us had reservations for the ""Grand ReO...",DN0b4Un8--Uf6SEWLeh0UA,1,2013-05-24,892,124
2689839,138,jdCiXnF1S-aGAKCR-F7rhw,aMEXL5SI-zFhcvmt8Zvphg,My girlfriends grand parents recommended this ...,DN0b4Un8--Uf6SEWLeh0UA,1,2013-05-23,924,103
3065975,110,Yc83TtvpYVl8HOadAUfUJg,biD-YXNbda31mvjjw7FZqA,Visited this place on Friday night at 10:05 p....,DN0b4Un8--Uf6SEWLeh0UA,2,2011-05-29,954,75
230378,329,BbSWL3PjQBzY7uDWaqlXqg,ZmEtySx0W_RSv07aY9AnzQ,This restaurant is horrible. \n\nFirst off the...,DN0b4Un8--Uf6SEWLeh0UA,1,2013-08-22,967,119
4724593,227,MwvrsmDOdgysTiF4DLqyaw,SkkZ3szBjtZJbvBMtCo5xQ,I was out with a group of ladies for a mom's n...,DN0b4Un8--Uf6SEWLeh0UA,1,2010-08-22,1112,145
3195565,126,T_kpvu1nkNKIdCXUzEYb8g,YKnyckzAiOtQNKexm5Yf9w,I have debated about writing since i heard abo...,DN0b4Un8--Uf6SEWLeh0UA,2,2010-08-04,1160,120
1192388,269,AsUDg2wZZqkgZzl0kuFvIA,4ZN5ZWVoGd8er9giAKgV-g,Dinner for 1.\n\n- Preface\nI went to Amy's Ba...,DN0b4Un8--Uf6SEWLeh0UA,2,2014-04-21,1212,170
3521249,307,OiGyY5vEOBodWrTB7nnnaw,29sEAjvlMyCEp0fa4kDoWQ,I have gotten 3 Private messages from Samy ask...,DN0b4Un8--Uf6SEWLeh0UA,1,2010-09-11,1341,181
2880761,236,zQ8nG2DemIq9cC0zjAMIgw,qP-Ie7_S0Dthv2QTKoAJ0g,THE WRONG TEAM\nWanted some dessert to go. Wa...,DN0b4Un8--Uf6SEWLeh0UA,1,2010-08-07,1404,179
59007,447,9sSmag2w-ICemEDSGN4Emg,N1LmEKSMvrMD54DexkgT-g,Not impressed at all with the pizza here. I th...,DN0b4Un8--Uf6SEWLeh0UA,1,2010-08-06,1456,245
2875852,522,4vpZToBSrgo1yb48u9OGUg,-N9mXK4k2Fwy2TUgVOhQDw,After seeing the Kitchen Nightmares episode an...,DN0b4Un8--Uf6SEWLeh0UA,1,2013-05-30,1525,198
1674534,351,T8LqkYbwMPZmvXSsUfN8sQ,OjV1om_QEFEs5iHYMKeONA,I went to ABC during the filming of Kitchen Ni...,DN0b4Un8--Uf6SEWLeh0UA,2,2012-12-13,1608,319
826732,628,-nlHAaKCQF5I0GbbwrJo4A,NVeCBLhxOBQbSGLIeH5uAw,Was in Arizona to do comedy. This place isn't...,DN0b4Un8--Uf6SEWLeh0UA,1,2013-05-08,1698,264
2741188,870,XmIsBXpdBevTYCe8gKQruQ,69suGHxR3PVxicAgmUlhzA,We were very disappointed with this restaurant...,DN0b4Un8--Uf6SEWLeh0UA,1,2012-11-18,2133,245
5252385,1481,qiTy11I-yp6foxIghRfGOA,A8mLBytNM2zmjHgSpsuZDA,"In retrospect, I should have known better than...",DN0b4Un8--Uf6SEWLeh0UA,1,2010-08-01,3364,1105

In [73]:
reviews.describe()

              funny         stars        useful          cool
count  5.261669e+06  5.261669e+06  5.261669e+06  5.261669e+06
mean   5.091960e-01  3.727740e+00  1.385085e+00  5.860916e-01
std    2.686168e+00  1.433593e+00  4.528727e+00  2.233706e+00
min    0.000000e+00  1.000000e+00 -1.000000e+00 -1.000000e+00
25%    0.000000e+00  3.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  4.000000e+00  0.000000e+00  0.000000e+00
75%    0.000000e+00  5.000000e+00  2.000000e+00  1.000000e+00
max    1.481000e+03  5.000000e+00  3.364000e+03  1.105000e+03

In [31]:
# correlations
reviews.corr()

           funny     stars    useful      cool
funny   1.000000 -0.048866  0.621663  0.661669
stars  -0.048866  1.000000 -0.077122  0.044828
useful  0.621663 -0.077122  1.000000  0.677069
cool    0.661669  0.044828  0.677069  1.000000

We note that there is a negative correlation between `stars` and `useful` which means that is a review has a higher `stars` then it received a *lower* `useful` vote. This shows that there is a rational descrepancy in the data. We can further validate this observation by creating a pivot table of `useful` vs. `stars`.

In [25]:
pd.pivot_table(reviews,values='useful', index='stars' )

         useful
stars
1      3.202899
2      2.900901
3      1.969112
4      1.734139
5      2.047826

From the above pivot table we obtain an inconclusive result, further analysis is required. Next, let's obtain a count of users in the `reviews` df. We can do this using the `user_id` column. Note that `user_counts` obtained below is sorted in descending order. We then take the top 25% of users who have posted a a lot of reviews, similarly we also take the bottom 25% users with the least number of reviews.

In [42]:
# count of users (sorted highest to lowest)
user_counts = reviews['user_id'].value_counts()

In [60]:
import math

REVIEWS_LEN = reviews.shape[0]
TOP_25 = math.floor(REVIEWS_LEN*0.25)
BOT_25 = -TOP_25

most_frequent_users = user_counts[:TOP_25] # first 25%
least_frequent_users = user_counts[BOT_25:] # last 25%

Next, we obtain a df containing the reviews from the top 25% and bottom 25% users.

In [68]:
most_frequent_user_reviews = reviews.filter(items=most_frequent_users, axis=0)
least_frequent_user_reviews = reviews.filter(items=least_frequent_users, axis=0)

In [69]:
most_frequent_user_reviews.corr()

           funny     stars    useful      cool
funny   1.000000 -0.341695  0.400509  0.318680
stars  -0.341695  1.000000 -0.623933 -0.388930
useful  0.400509 -0.623933  1.000000  0.368146
cool    0.318680 -0.388930  0.368146  1.000000

In [70]:
pd.pivot_table(most_frequent_user_reviews, values='useful', index='stars')

         useful
stars
1      5.704199
2      1.971070
3      1.988311
4      0.198111
5      0.072265

In [71]:
least_frequent_user_reviews.corr()

           funny     stars    useful      cool
funny   1.000000 -0.371052  0.423652  0.314621
stars  -0.371052  1.000000 -0.632290 -0.396800
useful  0.423652 -0.632290  1.000000  0.357234
cool    0.314621 -0.396800  0.357234  1.000000

In [72]:
least_frequent_usefulness = pd.pivot_table(least_frequent_user_reviews, values='useful', index='stars')
least_frequent_usefulness

         useful
stars
1      5.902944
2      2.154024
3      2.060877
4      0.180985
5      0.070508

Now constructing pivot tables using the reviews top 25% and bottom 25% users, we can clearly see that reviews with lower `stars` receive lower `useful` votes! This proves that H_a_ is true.

**UPDATE**: This proves nothing since the stars on a review is given by the reviewer to the business they are reviewing so it makes sense that it has no correlation with the useful vote of a review.

# Are useful votes on a review biased? (Test run)

Do users actually read a review before voting it useful? Or is their decision biased based on the reviewer, star, cool votes, etc?

Let's do a quick test run! First we will train a model to predict if a review is useful only based on the text of the review. Next we will train a model using the review text and the useful votes. The accuracy of the two models will be compared, the hypotesis being that the later will perform better since it is closer to real life. To start off, we are going to use `CountVectorize` for feature extraction and a `Naive Bayes` classifer.

## Model 1: Text only

In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csc_matrix, vstack
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [2]:
reviews = pd.read_csv('dataset/review.csv', usecols=['text', 'useful'], dtype=str)

In [3]:
reviews['length'] = reviews['text'].apply(len)
reviews.head()

                                                text useful  length
0  Love the staff, love the meat, love the place....      0     289
1  Super simple place but amazing nonetheless. It...      0     213
2  Small unassuming place that changes their menu...      0     502
3  Lester's is located in a beautiful neighborhoo...      0     373
4  Love coming here. Yes the place always needs t...      0     523

In [18]:
X = reviews[['length', 'useful']]
Y = pd.read_csv('dataset/Y.csv')
Y.head()

   label
0      0
1      0
2      0
3      0
4      0

Let's make sure that our data is even ie. we have equal number of data points for both our labels. This will ensure that our model is not biased and has equal number of examples to learn from.

In [5]:
Y.groupby('label').size()

label
0    2744483
1    2517186
dtype: int64

The labels are mostly balanced so we will not make any changes to the dataset.

In [19]:
# note random_state is not set intentionally, I want to get different splits for now
# later we will use k-fold validation
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4)

print("shape of splits:")
print("X_train: ", X_train.shape)
print("X_test: ", X_test.shape)
print("Y_train: ", Y_train.shape)
print("Y_test: ", Y_test.shape)

shape of splits:
X_train:  (3157001, 2)
X_test:  (2104668, 2)
Y_train:  (3157001, 1)
Y_test:  (2104668, 1)

In [20]:
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train['length'].values.reshape(-1, 1), Y_train)

/usr/local/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [21]:
nb_classifier.score(X_test['length'].values.reshape(-1, 1), Y_test)

0.5216761028342712

## Model 2: With text and useful vote

In order to combine the features obtained from the text and useful votes, we need to first convert the useful series into a sparse matrix and then concat the two sparse matrices vertically (column wise).

In [22]:
nb_classifier.fit(X_train, Y_train)

/usr/local/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [23]:
nb_classifier.score(X_test, Y_test)

0.9996260692897883